<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    </head>
    <body>
        <header>
    <h1>🎬 CinéStream+</h1>
    <p>Votre cinéma, partout, à tout moment.</p>
</header>
<nav>
    <ul id="nav-menu">
        <li><a href="{{ path('app_film_index') }}">📼 Vidéothèque</a></li>
        <li><a href="{{ path('app_search') }}">🔍 Recherche</a></li>
    </ul>
</nav>

        {% block body %}{% endblock %}

    </body>
</html>